<% content_for :add_to_favourite do%>
  <i class="fi-heart"></i>
<% end %>

<% content_for :right_menu do%>
  <li><label>Інгредієнти</label></li>
  <%= render inline: @ingredients %>
<% end %>

<h2><%= @receipt.title %></h2>
<%= render inline: @receipt.top_tags %>
<%= render inline: @receipt.img %> <br>
<%= render inline: @receipt.tags %>
<h5>Інгредієнти</h5>
<%= render inline: @receipt.ingredients %>
<%= render inline: @receipt.content %>