<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      <%= content_for?(:title) ? yield(:title) : "Cookorama.net" %>
    </title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap fixed" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title left"><%= content_for?(:title) ? yield(:title) : (link_to "Cookorama.net", root_path) %></h1>
            <div class='right'>
              <div class="row">
                <%= yield(:add_to_favourite) if content_for?(:add_to_favourite) %>
                
                <li class="has-form hide-for-small-only columns small-9 middle-9 large-9">
                  <%= form_tag "/receipts/search", method: :get do%>
                    <%= hidden_field_tag "link", "http://cookorama.net/uk/search/topics/"%>
                    <%= search_field_tag "q", params[:q], placeholder: "наприклад: вареники"%>
                  <% end %>
                </li>
                
                <a href="#" data-options="align:bottom" data-dropdown="drop" class="button tiny columns small-1 middle-1 large-1"><i class="fi-torsos-male-female small"></i></a>
                <ul id="drop" class="tiny f-dropdown" data-dropdown-content>
                  <li>
                    <%= link_to "Вхід", users_new_path%>
                  </li>
                  <li>
                    <%= link_to "Зареєструватися", users_new_path%>
                  </li>
                </ul>
              </div>
            </div>
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <%= link_to raw("<li><label>Cookorama</label></li>"), root_path %>
            <%= render inline: left_menu %>
          </ul>
        </aside>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <ul class="button-group show-for-small-only stack-for-small">
              <li>
                <%= link_to "Вхід", users_new_path, class: "button tiny"%>
              </li>
              <li>
                <%= link_to "Зареєструватися", users_new_path, class: "button tiny"%>
              </li>
            </ul>
            <li class='show-for-small-only'><label>Пошук по сайту</label></li>
              <li class='has-form show-for-small-only has-form'>
                <%= form_tag "/receipts/search", method: :get do%>
                  <%= hidden_field_tag "link", "http://cookorama.net/uk/search/topics/"%>
                  <%= search_field_tag "q", params[:q], placeholder: "наприклад: вареники"%>
                <% end %>
              </li>
            <% if content_for? :right_menu %>
              <%= yield :right_menu %>
            <% end %>
          </ul>
        </aside>

        <section class="main-section topic">
          <!-- <div class="row"> -->
            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">
              <%= yield %>
            </ul>
            <% if content_for? :pagination %>
              <%= yield :pagination %>
            <% end %>
          <!-- </div> -->
          <!-- <div class="row"> -->
            <div class="bottom"></div>
          <!-- </div> -->
        </section>
        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>