<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Cookorama.net" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap fixed" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title">Cookorama.net</h1>
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
                                                              <li><label>Cookorama</label></li>

                                                              <%= render inline: left_menu %>
          </ul>
        </aside>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
                                                              <li><label>Users</label></li>
                                                              <li><a href="#">Hari Seldon</a></li>
                                                              <li class="has-submenu"><a href="#">R. Giskard Reventlov</a>
                                                                  <ul class="right-submenu">
                                                                      <li class="back"><a href="#">Back</a></li>
                                                                      <li><label>Level 1</label></li>
                                                                      <li><a href="#">Link 1</a></li>
                                                                      <li class="has-submenu"><a href="#">Link 2 w/ submenu</a>
                                                                          <ul class="right-submenu">
                                                                              <li class="back"><a href="#">Back</a></li>
                                                                              <li><label>Level 2</label></li>
                                                                              <li><a href="#">...</a></li>
                                                                          </ul>
                                                                      </li>
                                                                      <li><a href="#">...</a></li>
                                                                  </ul>
                                                              </li>
                                                              <li><a href="#">...</a></li>
          </ul>
        </aside>

        <section class="main-section">
          <%= yield %>
          <a href="#" class="back-to-top">Вгору</a>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>
    <!-- <a href="#0" class="cd-top">Вгору</a> -->
  </body>
</html>
