<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Cookorama.net" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="off-canvas-wrap fixed" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon"><span></span></a>
          </section>

          <section class="middle tab-bar-section">
            <h1 class="title"><%= content_for?(:title) ? yield(:title) : (link_to "Cookorama.net", root_path) %></h1>
          </section>

          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
          </section>
        </nav>

        <aside class="left-off-canvas-menu">
          <ul class="off-canvas-list">
            <%= link_to raw("<li><label>Cookorama</label></li>"), root_path %>
            <%= render inline: left_menu %>
          </ul>
        </aside>

        <aside class="right-off-canvas-menu">
          <ul class="off-canvas-list">
            <% if content_for? :right_menu %>
              <%= yield :right_menu %>
            <% end %>
          </ul>
        </aside>

        <section class="main-section">
          <%= yield %>
        </section>

        <a class="exit-off-canvas"></a>

      </div>
    </div>
  </body>
</html>